# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# pipenv
Pipfile
Pipfile.lock

# dotenv
.env

# Test logs and caches
*.log
.cache/

# IDE and editor-specific settings
.idea/
.vscode/
*.swp

# macOS specific
.DS_Store
